---
layout: default
---
<div class="col-lg-8mx-auto">
    <div class="row">
        <div class="col">
            <div class="mainheading">
                <h1 class="posttitle">{{ page.title }}</h1>
            </div>
  
            <div class="article-post serif-font">
            {{content}}
            </div>
        </div>
        <div id="wrapper" class="col">
            <div class="phone" id="phone_1" style="width: 360px; height: 740px">
            <iframe src="/app/" id="frame_1" ></iframe>
            </div>
        </div>
    </div>
    </div>
 
  
  </div>
